@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    background-color: #4a5759;
    overflow: hidden;
}

#dPadBG {
    display: block;
    position: absolute;
    width: 700px;
    height: 500px;
}

.dPadBtns {
    background-color: black;
    display: block;
    position: relative;
    width: 350px;
    height: 330px;
    border-radius: 2%;
    top: 100px;
    left: 175px;
}

.xSmall {
    width: 30px;
    height: 30px;
}

.small {
    width: 60px;
    height: 60px;
}

.lrg {
    width: 110px;
    height: 110px;
}

.xLrg {
    width: 130px;
    height: 130px;
}

.whiteBG {
    background-color: white;
}
.blackBG {
    background-color: black;
}

.whiteF {
    color: white;
}

.bordered {
    border: 14px solid black;
}

.themeCol {
    color: limegreen;
}

.btn {
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    left: 15px;
    box-shadow: inset 0 0 0 12px white;
    color: white;
}

.btn:nth-child(2){
    top: 15px;
    left: 275px;
}

.btn:nth-child(3){
    z-index: 1;
    top: 70px;
    left: 40px;
}

.btn:nth-child(4){
    top: 70px;
    left: 175px;
    z-index: 1;
}

.btn:nth-child(5){
    top: 190px;
    left: -25px;
    z-index: 1;
}

.btn:nth-child(6){
    top: 190px;
    left: 107px;
}

.btn:nth-child(7){
    top: 190px;
    left: 240px;
    z-index: 1;
}

.btn:nth-child(8){
    top: 85px;
    left: -55px;
}

.btn:nth-child(9){
    top: 85px;
    left: 245px;
}

.btn:nth-child(10){
    top: 145px;
    left: 315px;
    z-index: 1;
}

.title {
    max-width: fit-content;
    font-size: 2rem;
    position: relative;
    top: 5px;
    left: 101px;
}

.credit {
    max-width: fit-content;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
    left: 145px;
}

@keyframes pulseFull {
    0% {
        background-color: limegreen;
        box-shadow: inset 0 0 0 12px limegreen;
    }
    100% {
        background-color: white;
        box-shadow: inset 0 0 0 12px white;
    }
}

@keyframes pulseRing {
    0% {
        box-shadow: inset 0 0 0 12px limegreen;
    }
    100% {
        box-shadow: inset 0 0 0 12px white;
    }
}

@media (max-width: 640px) {

#dPadBG {
    scale: 80%;
}
}

